<h1>You are chatting with <%= @chat.recipient.first_name %></h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= message.user.first_name %>: <%= message.body %></li>
  <% end %>
</ul>

<%= form_for([@chat, @chat.messages.build]) do |form| %>
  <p>
    <%= form.label :message %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.text_field :user_id, value: current_user.id, type: "hidden" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
