<h2>Upload a photo</h2><br>
<%= form_for(@photo, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Upload' %>
    <%= link_to 'Return to photos', photos_path, class: 'button' %>
  </div>
<% end %>
