<%= form_for(@photo, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
    <%= link_to 'Index', photos_path, class: 'button' %>
  </div>
<% end %>
